@import 'components/feed';
@import 'components/comment';
@import 'profile';
@import 'chat';


html, body {
  margin:0;
}


.dialog-close-button {
  position: fixed;
  right: 24px;
  top: 19px;
}





