@import 'components/feed';
@import 'components/comment';
@import 'profile';
@import 'chat';
@import 'notification';
@import 'friend';
@import 'registration';



html, body {
  margin:0;
}


.dialog-close-button {
  position: fixed;
  right: 24px;
  top: 19px;
}

.icon-badge {
  width: 16px;
  height: 16px;
  font-size: 8px;
}





