@import '~react-md/src/scss/react-md';

$md-light-theme: false; // optional for light theme
// $md-primary-color: $md-light-blue-500;
// $md-secondary-color: $md-deep-orange-a-200;

$md-primary-color: $md-teal-500;
$md-secondary-color: $md-deep-purple-a-200;

@include react-md-everything;

// Or for a subsection
@include react-md-theme-everything($md-light-blue-500, $md-deep-orange-a-200, $md-light-theme, 'custom-theme');


//Custom
div {
  p {
    background-color:orange;
  }
}
