@import '~react-md/src/scss/react-md';

$md-light-theme: true; // optional for light theme
// $md-primary-color: $md-light-blue-500;
// $md-secondary-color: $md-deep-orange-a-200;

$md-primary-color: $md-teal-500;
$md-secondary-color: $md-deep-purple-a-200;

@include react-md-everything;

// Or for a subsection
//@include react-md-theme-everything($md-primary-color, $md-secondary-color, $md-light-theme, 'custom-theme');

@include react-md-theme-everything($md-primary-color, $md-secondary-color, false, 'dark');


//Custom
@import 'custom';
